In [23]:
import os
from google.cloud import bigquery
from google.auth import default
import pandas as pd


# Creamos los permisos con la llave para ingresar a Google 
# activamos el servicio
os.environ["GOOGLE_APPLICATION_CREDENTIALS"] = "../Clave_Google/henry-sismos-a343182ba163.json"

project_id = 'your-project-id'
client = bigquery.Client(project=project_id)

In [24]:

# Obtiene las credenciales predeterminadas
credentials, project_id = default()

# Obtiene el correo electrónico del usuario autenticado
user_email = credentials.service_account_email

print(user_email)

henry-992@henry-sismos.iam.gserviceaccount.com

In [25]:

# Crea una instancia del cliente de BigQuery
client = bigquery.Client()

# Obtiene la lista de proyectos del usuario autenticado
projects = client.list_projects()

# Imprime los nombres de los proyectos
project_ids = []
for project in projects:
    project_ids.append(project.project_id) 
project_ids

['henry-sismos']

In [26]:
# Crea una instancia del cliente de BigQuery
client = bigquery.Client()

# Especifica el ID del proyecto
project_id = project_ids[0]


# Obtiene la lista de conjuntos de datos en el proyecto
datasets = client.list_datasets(project=project_id)

# Imprime los nombres de los conjuntos de datos
dataset_ids = []
for dataset in datasets:
    dataset_ids.append(dataset.dataset_id)
dataset_ids

['Sismos']

In [27]:

# Crea una instancia del cliente de BigQuery
client = bigquery.Client(project=project_id)

# Obtiene la referencia al conjunto de datos
dataset_ref = client.dataset(dataset_ids[0])

# Obtiene el conjunto de datos
dataset = client.get_dataset(dataset_ref)

# Obtiene la lista de tablas en el conjunto de datos
tables = client.list_tables(dataset)

# Imprime los nombres de las tablas

table_ids = []
for table in tables:
    table_ids.append(table.table_id)
table_ids

['Colombia', 'Colombia_sismo', 'EEUU_sismo', 'Japan_sismo']

In [30]:
# Creamos el DataFrame de  df_Colombia_sismo
# Crea una instancia del cliente de BigQuery
client = bigquery.Client(project= project_ids[0])

# Especifica el ID del dataset
dataset_id = dataset_ids[0]


table_ref = dataset_ref.table(table_ids[1])
# Descarga la tabla en un DataFrame
table = client.get_table(table_ref)
df_Colombia_sismo = client.list_rows(table).to_dataframe()
            
# Imprime las primeras filas del DataFrame
print(f"Creado el DataFrame de {table_ids[1]}")
print(df_Colombia_sismo.info())
df_Colombia_sismo.head(2)

Creado el DataFrame de Colombia_sismo
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 799 entries, 0 to 798
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Fecha       799 non-null    datetime64[ns, UTC]
 1   Magnitud    799 non-null    float64
 2   Intensidad  799 non-null    float64
 3   GAP         799 non-null    float64
 4   Latitud     799 non-null    float64
 5   Longitud    799 non-null    float64
 6   Lugar       799 non-null    object
 7   Id          799 non-null    object
 8   Region      799 non-null    object
 9   Pais        799 non-null    object
dtypes: datetime64[ns, UTC](1), float64(5), object(4)
memory usage: 62.6+ KB
None

,Fecha,Magnitud,Intensidad,GAP,Latitud,Longitud,Lugar,Id,Region,Pais
0,2023-01-27 04:34:39.050000+00:00,4.5,4.7,59.0,5.0309,-76.2007,"15 km NNE of San José del Palmar, Colombia",",us6000jjlq,",Choco,CO
1,2023-01-27 04:34:39.050000+00:00,4.5,4.7,59.0,5.0309,-76.2007,"15 km NNE of San José del Palmar, Colombia",",us6000jjlq,",Choco,CO

In [31]:
# Creamos el DataFrame de  df_EEUU_sismo
# Crea una instancia del cliente de BigQuery
client = bigquery.Client(project= project_ids[0])

# Especifica el ID del dataset
dataset_id = dataset_ids[0]


table_ref = dataset_ref.table(table_ids[2])
# Descarga la tabla en un DataFrame
table = client.get_table(table_ref)
df_EEUU_sismo = client.list_rows(table).to_dataframe()
            
# Imprime las primeras filas del DataFrame
print(f"Creado el DataFrame de {table_ids[2]}")
print(df_EEUU_sismo.info())
df_EEUU_sismo.head(2)

Creado el DataFrame de EEUU_sismo
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6955 entries, 0 to 6954
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Fecha       6955 non-null   datetime64[ns, UTC]
 1   Magnitud    6955 non-null   float64
 2   Intensidad  6955 non-null   float64
 3   GAP         6955 non-null   float64
 4   Latitud     6955 non-null   float64
 5   Longitud    6955 non-null   float64
 6   Lugar       6955 non-null   object
 7   Id          6955 non-null   object
 8   Region      6955 non-null   object
 9   Pais        6955 non-null   object
dtypes: datetime64[ns, UTC](1), float64(5), object(4)
memory usage: 543.5+ KB
None

,Fecha,Magnitud,Intensidad,GAP,Latitud,Longitud,Lugar,Id,Region,Pais
0,2022-10-14 15:20:17.180000+00:00,2.85,0.0,64.0,19.455166,-155.601166,"27 km E of Honaunau-Napoopoo, Hawaii",",hv73178542,us6000itnu,",Hawaii,US
1,2022-10-14 15:20:17.180000+00:00,2.85,0.0,64.0,19.455166,-155.601166,"27 km E of Honaunau-Napoopoo, Hawaii",",hv73178542,us6000itnu,",Hawaii,US

In [32]:
# Creamos el DataFrame de  df_EEUU_sismo
# Crea una instancia del cliente de BigQuery
client = bigquery.Client(project= project_ids[0])

# Especifica el ID del dataset
dataset_id = dataset_ids[0]


table_ref = dataset_ref.table(table_ids[3])
# Descarga la tabla en un DataFrame
table = client.get_table(table_ref)
df_Japan_sismo = client.list_rows(table).to_dataframe()
            
# Imprime las primeras filas del DataFrame
print(f"Creado el DataFrame de {table_ids[3]}")
print(df_Japan_sismo.info())
df_Japan_sismo.head(2)

Creado el DataFrame de Japan_sismo
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6072 entries, 0 to 6071
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Fecha       6072 non-null   datetime64[ns, UTC]
 1   Magnitud    6072 non-null   float64
 2   Intensidad  6072 non-null   float64
 3   GAP         6072 non-null   float64
 4   Latitud     6072 non-null   float64
 5   Longitud    6072 non-null   float64
 6   Lugar       6072 non-null   object
 7   Id          6072 non-null   object
 8   Region      6072 non-null   object
 9   Pais        6072 non-null   object
dtypes: datetime64[ns, UTC](1), float64(5), object(4)
memory usage: 474.5+ KB
None

,Fecha,Magnitud,Intensidad,GAP,Latitud,Longitud,Lugar,Id,Region,Pais
0,2016-04-10 14:32:42.820000+00:00,4.0,2.4,137.0,36.0124,139.9229,"4 km SSE of Iwai, Japan",",us20005gti,",Ibaraki,JP
1,2016-04-10 14:32:42.820000+00:00,4.0,2.4,137.0,36.0124,139.9229,"4 km SSE of Iwai, Japan",",us20005gti,",Ibaraki,JP