In [1]:
import requests
import pandas as pd
import csv
import datetime

# Colombia

In [2]:
url = 'https://earthquake.usgs.gov/fdsnws/event/1/query'
parameters = {
    'format': 'geojson',
    'starttime': '1990-01-01',
    'endtime': '2023-06-28',
    'minmagnitude': '2.5',
    'minlatitude': '-5.266',
    'maxlatitude': '15.708',
    'minlongitude': '276.328',
    'maxlongitude': '293.906',
    'limit': 20000
}

response = requests.get(url, params=parameters)
data = response.json()

earthquakes = data['features']
records = []

for eq in earthquakes:
    latitude = eq['geometry']['coordinates'][1]
    longitude = eq['geometry']['coordinates'][0]
    magnitude = eq['properties']['mag']
    intensity = eq['properties']['cdi'] 
    date = pd.to_datetime(eq['properties']['time'], unit='ms')
    location = eq['properties']['place']
    
    records.append({
        'Fecha': date,
        'Latitud': latitude,
        'Longitud': longitude,
        'Magnitud': magnitude,
        'Intensidad': intensity,
        'Ubicacion': location
    })

# Crear el DataFrame
df_Colombia = pd.DataFrame(records)
df_Colombia = pd.concat([df_Colombia, pd.DataFrame(data['features']).properties.apply(pd.Series)],axis=1)
df_Colombia.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7324 entries, 0 to 7323
Data columns (total 32 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Fecha       7324 non-null   datetime64[ns]
 1   Latitud     7324 non-null   float64
 2   Longitud    7324 non-null   float64
 3   Magnitud    7324 non-null   float64
 4   Intensidad  1300 non-null   float64
 5   Ubicacion   7308 non-null   object
 6   mag         7324 non-null   float64
 7   place       7308 non-null   object
 8   time        7324 non-null   int64
 9   updated     7324 non-null   int64
 10  tz          0 non-null      object
 11  url         7324 non-null   object
 12  detail      7324 non-null   object
 13  felt        1300 non-null   float64
 14  cdi         1300 non-null   float64
 15  mmi         267 non-null    float64
 16  alert       116 non-null    object
 17  status      7324 non-null   object
 18  tsunami     7324 non-null   int64
 19  sig         7324 non-null   int64
 20  net         7324 non-null   object
 21  code        7324 non-null   object
 22  ids         7324 non-null   object
 23  sources     7324 non-null   object
 24  types       7324 non-null   object
 25  nst         2720 non-null   float64
 26  dmin        2397 non-null   float64
 27  rms         6820 non-null   float64
 28  gap         4307 non-null   float64
 29  magType     7324 non-null   object
 30  type        7324 non-null   object
 31  title       7324 non-null   object
dtypes: datetime64[ns](1), float64(12), int64(4), object(15)
memory usage: 1.8+ MB

# Japan

In [3]:
url = 'https://earthquake.usgs.gov/fdsnws/event/1/query'
parameters = {
    'format': 'geojson',
    'starttime': '1990-01-01',
    'endtime': '2023-06-28',
    'minmagnitude': '2.5',
    'minlatitude': '28.691',
    'maxlatitude': '47.458',
    'minlongitude': '125.859',
    'maxlongitude': '156.445',
    'limit': 20000
}

response = requests.get(url, params=parameters)
data = response.json()

earthquakes = data['features']
records = []

for eq in earthquakes:
    latitude = eq['geometry']['coordinates'][1]
    longitude = eq['geometry']['coordinates'][0]
    magnitude = eq['properties']['mag']
    intensity = eq['properties']['cdi']
    date = pd.to_datetime(eq['properties']['time'], unit='ms')
    location = eq['properties']['place']
    
    records.append({
        'Fecha': date,
        'Latitud': latitude,
        'Longitud': longitude,
        'Magnitud': magnitude,
        'Intensidad': intensity,
        'Ubicacion': location
    })

# Crear el DataFrame
df_Japan = pd.DataFrame(records)
df_Japan = pd.concat([df_Japan, pd.DataFrame(data['features']).properties.apply(pd.Series)],axis=1)
df_Japan.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 32 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Fecha       20000 non-null  datetime64[ns]
 1   Latitud     20000 non-null  float64
 2   Longitud    20000 non-null  float64
 3   Magnitud    20000 non-null  float64
 4   Intensidad  3194 non-null   float64
 5   Ubicacion   19917 non-null  object
 6   mag         20000 non-null  float64
 7   place       19917 non-null  object
 8   time        20000 non-null  int64
 9   updated     20000 non-null  int64
 10  tz          0 non-null      object
 11  url         20000 non-null  object
 12  detail      20000 non-null  object
 13  felt        3194 non-null   float64
 14  cdi         3194 non-null   float64
 15  mmi         523 non-null    float64
 16  alert       316 non-null    object
 17  status      20000 non-null  object
 18  tsunami     20000 non-null  int64
 19  sig         20000 non-null  int64
 20  net         20000 non-null  object
 21  code        20000 non-null  object
 22  ids         20000 non-null  object
 23  sources     20000 non-null  object
 24  types       20000 non-null  object
 25  nst         11842 non-null  float64
 26  dmin        9349 non-null   float64
 27  rms         19390 non-null  float64
 28  gap         19996 non-null  float64
 29  magType     20000 non-null  object
 30  type        20000 non-null  object
 31  title       20000 non-null  object
dtypes: datetime64[ns](1), float64(12), int64(4), object(15)
memory usage: 4.9+ MB

# EEUU

In [4]:
url = 'https://earthquake.usgs.gov/fdsnws/event/1/query'
parameters = {
    'format': 'geojson',
    'starttime': '1990-01-01',
    'endtime': '2023-06-28',
    'minmagnitude': '2.5',
    'minlatitude': '12.555',
    'maxlatitude': '75.141',
    'minlongitude': '182.813',
    'maxlongitude': '315',
    'limit': 20000
}

response = requests.get(url, params=parameters)
data = response.json()

earthquakes = data['features']
records = []

for eq in earthquakes:
    latitude = eq['geometry']['coordinates'][1]
    longitude = eq['geometry']['coordinates'][0]
    magnitude = eq['properties']['mag']
    intensity = eq['properties']['cdi']
    date = pd.to_datetime(eq['properties']['time'], unit='ms')
    location = eq['properties']['place']
    
    records.append({
        'Fecha': date,
        'Latitud': latitude,
        'Longitud': longitude,
        'Magnitud': magnitude,
        'Intensidad': intensity,
        'Ubicacion': location
    })

# Crear el DataFrame
df_EEUU = pd.DataFrame(records)
df_EEUU = pd.concat([df_EEUU, pd.DataFrame(data['features']).properties.apply(pd.Series)],axis=1)
df_EEUU.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 32 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Fecha       20000 non-null  datetime64[ns]
 1   Latitud     20000 non-null  float64
 2   Longitud    20000 non-null  float64
 3   Magnitud    20000 non-null  float64
 4   Intensidad  5207 non-null   float64
 5   Ubicacion   19624 non-null  object
 6   mag         20000 non-null  float64
 7   place       19624 non-null  object
 8   time        20000 non-null  int64
 9   updated     20000 non-null  int64
 10  tz          0 non-null      object
 11  url         20000 non-null  object
 12  detail      20000 non-null  object
 13  felt        5207 non-null   float64
 14  cdi         5207 non-null   float64
 15  mmi         1735 non-null   float64
 16  alert       310 non-null    object
 17  status      20000 non-null  object
 18  tsunami     20000 non-null  int64
 19  sig         20000 non-null  int64
 20  net         20000 non-null  object
 21  code        20000 non-null  object
 22  ids         20000 non-null  object
 23  sources     20000 non-null  object
 24  types       20000 non-null  object
 25  nst         13772 non-null  float64
 26  dmin        14217 non-null  float64
 27  rms         19999 non-null  float64
 28  gap         16784 non-null  float64
 29  magType     20000 non-null  object
 30  type        20000 non-null  object
 31  title       20000 non-null  object
dtypes: datetime64[ns](1), float64(12), int64(4), object(15)
memory usage: 4.9+ MB

In [5]:
pd.concat([df_EEUU, pd.DataFrame(data['features']).properties.apply(pd.Series)],axis=1)

,Fecha,Latitud,Longitud,Magnitud,Intensidad,Ubicacion,mag,place,time,updated,...,ids,sources,types,nst,dmin,rms,gap,magType,type,title
0,2023-06-27 23:46:57.411,32.842712,-100.946670,3.30,3.3,"14 km N of Snyder, Texas",3.30,"14 km N of Snyder, Texas",1687909617411,1687968005730,...,",us6000knj3,tx2023mnfc,",",us,tx,",",dyfi,origin,phase-data,",25.0,0.037029,0.20,66.0,ml,earthquake,"M 3.3 - 14 km N of Snyder, Texas"
1,2023-06-27 14:03:38.851,57.771500,-156.353000,2.60,NaN,"68 km ENE of Ugashik, Alaska",2.60,"68 km ENE of Ugashik, Alaska",1687874618851,1687879036040,...,",us6000knec,ak02386m0kjr,",",us,ak,",",origin,phase-data,",NaN,NaN,0.65,NaN,ml,earthquake,"M 2.6 - 68 km ENE of Ugashik, Alaska"
2,2023-06-27 13:14:44.330,19.317000,-67.644333,3.41,NaN,"107 km NNW of San Antonio, Puerto Rico",3.41,"107 km NNW of San Antonio, Puerto Rico",1687871684330,1687873724830,...,",pr71414903,",",pr,",",origin,phase-data,",9.0,0.940700,0.29,312.0,md,earthquake,"M 3.4 - 107 km NNW of San Antonio, Puerto Rico"
3,2023-06-27 11:13:32.710,17.998000,-66.816667,3.04,NaN,"0 km NNE of Indios, Puerto Rico",3.04,"0 km NNE of Indios, Puerto Rico",1687864412710,1687874641560,...,",pr71414883,",",pr,",",origin,phase-data,",6.0,0.063790,0.18,173.0,md,earthquake,"M 3.0 - 0 km NNE of Indios, Puerto Rico"
4,2023-06-27 10:03:01.390,19.300300,-67.596300,3.53,NaN,"103 km NNW of San Antonio, Puerto Rico",3.53,"103 km NNW of San Antonio, Puerto Rico",1687860181390,1687870047736,...,",pr2023178002,",",pr,",",origin,phase-data,",14.0,0.923300,0.46,278.0,md,earthquake,"M 3.5 - 103 km NNW of San Antonio, Puerto Rico"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,2021-08-20 06:17:37.266,57.248100,-155.493200,2.50,NaN,Alaska Peninsula,2.50,Alaska Peninsula,1629440257266,1635864814040,...,",us6000f8px,ak021anscu7b,",",us,ak,",",origin,phase-data,",NaN,NaN,0.44,NaN,ml,earthquake,M 2.5 - Alaska Peninsula
19996,2021-08-20 06:11:40.596,52.267200,-169.721300,3.10,NaN,"94 km SW of Nikolski, Alaska",3.10,"94 km SW of Nikolski, Alaska",1629439900596,1635864946040,...,",ak021ansbl3m,us7000f6ki,",",ak,us,",",origin,phase-data,",NaN,0.567000,0.59,216.0,ml,earthquake,"M 3.1 - 94 km SW of Nikolski, Alaska"
19997,2021-08-20 06:03:53.170,35.885333,-117.721000,2.67,NaN,"18km ESE of Little Lake, CA",2.67,"18km ESE of Little Lake, CA",1629439433170,1635864814040,...,",ci40016064,us6000f8pt,",",ci,us,",",focal-mechanism,nearby-cities,origin,phase-da...",40.0,0.084500,0.14,27.0,ml,earthquake,"M 2.7 - 18km ESE of Little Lake, CA"
19998,2021-08-20 05:39:29.004,61.537500,-141.319800,3.40,NaN,"86 km E of McCarthy, Alaska",3.40,"86 km E of McCarthy, Alaska",1629437969004,1635864813040,...,",us6000f8pk,ak021anrw3oz,",",us,ak,",",moment-tensor,origin,phase-data,shakemap,",NaN,NaN,1.12,NaN,ml,earthquake,"M 3.4 - 86 km E of McCarthy, Alaska"
19999,2021-08-20 05:38:44.179,18.525500,-73.301100,4.00,NaN,Haiti region,4.00,Haiti region,1629437924179,1635864813040,...,",us6000f8pm,",",us,",",origin,phase-data,",NaN,0.999000,0.87,70.0,mb,earthquake,M 4.0 - Haiti region

In [18]:
# Unimos los 3 Data Frame y lo ordenamos por fecha
df_completo = pd.concat([df_Colombia, df_EEUU, df_Japan]).sort_values(by= "Fecha", ascending= False)
df_completo.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 47324 entries, 0 to 7323
Data columns (total 32 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Fecha       47324 non-null  datetime64[ns]
 1   Latitud     47324 non-null  float64
 2   Longitud    47324 non-null  float64
 3   Magnitud    47324 non-null  float64
 4   Intensidad  9701 non-null   float64
 5   Ubicacion   46849 non-null  object
 6   mag         47324 non-null  float64
 7   place       46849 non-null  object
 8   time        47324 non-null  int64
 9   updated     47324 non-null  int64
 10  tz          0 non-null      object
 11  url         47324 non-null  object
 12  detail      47324 non-null  object
 13  felt        9701 non-null   float64
 14  cdi         9701 non-null   float64
 15  mmi         2525 non-null   float64
 16  alert       742 non-null    object
 17  status      47324 non-null  object
 18  tsunami     47324 non-null  int64
 19  sig         47324 non-null  int64
 20  net         47324 non-null  object
 21  code        47324 non-null  object
 22  ids         47324 non-null  object
 23  sources     47324 non-null  object
 24  types       47324 non-null  object
 25  nst         28334 non-null  float64
 26  dmin        25963 non-null  float64
 27  rms         46209 non-null  float64
 28  gap         41087 non-null  float64
 29  magType     47324 non-null  object
 30  type        47324 non-null  object
 31  title       47324 non-null  object
dtypes: datetime64[ns](1), float64(12), int64(4), object(15)
memory usage: 11.9+ MB

In [22]:
# Quitemos los nulos
df_completo = df_completo.drop(columns='tz')
df_completo = df_completo.dropna(subset='Ubicacion')
df_completo.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 46849 entries, 0 to 7323
Data columns (total 31 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Fecha       46849 non-null  datetime64[ns]
 1   Latitud     46849 non-null  float64
 2   Longitud    46849 non-null  float64
 3   Magnitud    46849 non-null  float64
 4   Intensidad  9620 non-null   float64
 5   Ubicacion   46849 non-null  object
 6   mag         46849 non-null  float64
 7   place       46849 non-null  object
 8   time        46849 non-null  int64
 9   updated     46849 non-null  int64
 10  url         46849 non-null  object
 11  detail      46849 non-null  object
 12  felt        9620 non-null   float64
 13  cdi         9620 non-null   float64
 14  mmi         2504 non-null   float64
 15  alert       736 non-null    object
 16  status      46849 non-null  object
 17  tsunami     46849 non-null  int64
 18  sig         46849 non-null  int64
 19  net         46849 non-null  object
 20  code        46849 non-null  object
 21  ids         46849 non-null  object
 22  sources     46849 non-null  object
 23  types       46849 non-null  object
 24  nst         27907 non-null  float64
 25  dmin        25553 non-null  float64
 26  rms         45734 non-null  float64
 27  gap         40633 non-null  float64
 28  magType     46849 non-null  object
 29  type        46849 non-null  object
 30  title       46849 non-null  object
dtypes: datetime64[ns](1), float64(12), int64(4), object(14)
memory usage: 11.4+ MB

In [23]:
# Creamos el listado de filtrado
paises_estados = ["Colombia", 
                  "Japan", 
                  "Alabama", 
                  "Alaska", 
                  "Arizona", 
                  "Arkansas", 
                  "California", 
                  "Colorado", 
                  "Connecticut", 
                  "Delaware", 
                  "Florida", 
                  "Georgia", 
                  "Hawái", 
                  "Idaho", 
                  "Illinois", 
                  "Indiana", 
                  "Iowa", 
                  "Kansas", 
                  "Kentucky", 
                  "Luisiana", 
                  "Maine", 
                  "Maryland", 
                  "Massachusetts", 
                  "Míchigan", 
                  "Minnesota", 
                  "Misisipi", 
                  "Misuri", 
                  "Montana", 
                  "Nebraska", 
                  "Nevada", 
                  "Nuevo Hampshire", 
                  "Nueva Jersey", 
                  "Nuevo México", 
                  "Nueva York", 
                  "Carolina del Norte", 
                  "Dakota del Norte", 
                  "Ohio", "Oklahoma", 
                  "Oregón", 
                  "Pensilvania", 
                  "Rhode Island", 
                  "Carolina del Sur", 
                  "Dakota del Sur", 
                  "Tennessee", 
                  "Texas", 
                  "Utah", 
                  "Vermont", 
                  "Virginia", 
                  "Washington", 
                  "Virginia Occidental", 
                  "Wisconsin", 
                  "Wyoming"]

In [24]:
# flitramos por los países y estados que necesitamos
df_completo = df_completo[df_completo["Ubicacion"].str.contains("|".join(paises_estados))]
df_completo

,Fecha,Latitud,Longitud,Magnitud,Intensidad,Ubicacion,mag,place,time,updated,...,ids,sources,types,nst,dmin,rms,gap,magType,type,title
0,2023-06-27 23:46:57.411,32.842712,-100.94667,3.3,3.3,"14 km N of Snyder, Texas",3.3,"14 km N of Snyder, Texas",1687909617411,1687968005730,...,",us6000knj3,tx2023mnfc,",",us,tx,",",dyfi,origin,phase-data,",25.0,0.037029,0.20,66.0,ml,earthquake,"M 3.3 - 14 km N of Snyder, Texas"
1,2023-06-27 14:03:38.851,57.771500,-156.35300,2.6,NaN,"68 km ENE of Ugashik, Alaska",2.6,"68 km ENE of Ugashik, Alaska",1687874618851,1687879036040,...,",us6000knec,ak02386m0kjr,",",us,ak,",",origin,phase-data,",NaN,NaN,0.65,NaN,ml,earthquake,"M 2.6 - 68 km ENE of Ugashik, Alaska"
1,2023-06-27 10:55:56.469,6.837800,-73.15630,4.5,NaN,northern Colombia,4.5,northern Colombia,1687863356469,1687866054040,...,",us6000kndk,",",us,",",origin,phase-data,",79.0,0.942000,0.53,74.0,mb,earthquake,M 4.5 - northern Colombia
8,2023-06-27 08:01:49.258,61.486900,-149.91500,3.2,3.4,"4 km SSE of Big Lake, Alaska",3.2,"4 km SSE of Big Lake, Alaska",1687852909258,1687939512952,...,",ak02386ifk6z,us6000kncr,",",ak,us,",",dyfi,origin,phase-data,shakemap,",NaN,NaN,0.84,NaN,ml,earthquake,"M 3.2 - 4 km SSE of Big Lake, Alaska"
10,2023-06-27 06:37:16.887,37.053200,-104.94490,2.7,NaN,"12 km SW of Weston, Colorado",2.7,"12 km SW of Weston, Colorado",1687847836887,1687848501040,...,",us6000knck,",",us,",",origin,phase-data,",25.0,0.147000,0.59,63.0,ml,earthquake,"M 2.7 - 12 km SW of Weston, Colorado"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7317,1990-01-21 13:10:07.930,2.623000,-79.82500,4.9,NaN,"144 km WNW of Salahonda, Colombia",4.9,"144 km WNW of Salahonda, Colombia",632927407930,1415321133937,...,",usp00044j7,",",us,",",origin,phase-data,",NaN,NaN,1.10,NaN,mb,earthquake,"M 4.9 - 144 km WNW of Salahonda, Colombia"
7319,1990-01-14 00:25:32.080,6.316000,-74.24800,4.5,NaN,"25 km SE of Puerto Berrío, Colombia",4.5,"25 km SE of Puerto Berrío, Colombia",632276732080,1415321132721,...,",usp000447z,",",us,",",origin,phase-data,",NaN,NaN,1.10,NaN,mb,earthquake,"M 4.5 - 25 km SE of Puerto Berrío, Colombia"
7320,1990-01-12 13:21:30.210,8.486000,-72.63700,4.4,NaN,"20 km SSE of Tibú, Colombia",4.4,"20 km SSE of Tibú, Colombia",632150490210,1415321131894,...,",usp000445n,",",us,",",origin,phase-data,",NaN,NaN,1.10,NaN,mb,earthquake,"M 4.4 - 20 km SSE of Tibú, Colombia"
7321,1990-01-10 02:57:50.590,5.650000,-75.78400,5.0,NaN,"6 km NE of Jardín, Colombia",5.0,"6 km NE of Jardín, Colombia",631940270590,1415321131205,...,",usp000442c,",",us,",",impact-text,origin,phase-data,",NaN,NaN,1.20,NaN,mb,earthquake,"M 5.0 - 6 km NE of Jardín, Colombia"
7323,1990-01-01 18:03:19.250,6.830000,-72.99500,5.3,NaN,"8 km NNW of Cepitá, Colombia",5.3,"8 km NNW of Cepitá, Colombia",631216999250,1415321127077,...,",usp00043tv,",",us,",",impact-text,origin,phase-data,",NaN,NaN,1.10,NaN,mb,earthquake,"M 5.3 - 8 km NNW of Cepitá, Colombia"

In [25]:
# Creamos un csv df_completo
df_completo.to_csv('../../data/processed/data_terremotos.csv', index=False)

In [26]:
df_completo["Intensidad"].max()

9.1

In [27]:
df_completo["Magnitud"].max()

9.1